.jumbotron {
    margin: 0;
    padding: 30px;
    background-color: #AA5839;
    color: white; }

#astro{
    color:#123752;
}

.navbar{
    background-color: #AA7939;
}

#nav-text{
    color: white;
}

body{
    background-color: #FFDAAA;
}

p {
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5{
    font-family: 'Montserrat', sans-serif;
}

a{
    font-family: 'Montserrat', sans-serif;
}

.card{
    background-color: #FFDAAA;
}