.jumbotron {
    margin: 0;
    padding: 30px;
    background-color: #AA5839;
    color: white; }

i{
    color:#123752;
}

.navbar{
    background-color: #AA7939;
}

#nav-text{
    color: white;
}

body{
    background-color: #FFDAAA;
}

p {
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5{
    font-family: 'Montserrat', sans-serif;
}

a{
    font-family: 'Montserrat', sans-serif;
}

.card{
    background-color: #FFDAAA;
}

.linewrapper {
    display: flex;
    align-items: baseline;
  }

  .middle {
    border-bottom: 2px dotted #aaa;
    flex-grow: 8;
    margin: 0 2px;
  }

button  {
    background-color: #AA5839;
    color:white;
}
.modal-header {
    background-color: #AA5839;
    color:white;
}